/* /=============== FONTS ===============// */

@font-face {
  font-family: "font-1";
  src: url(../fonts/Switzer-Extralight.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../fonts/Switzer-Light.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../fonts/Switzer-Regular.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(../fonts/Switzer-Bold.ttf);
}

@font-face {
  font-family: "font-5";
  src: url(./assets/fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "font-6";
  src: url(/assets/fonts/Quicksand-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: "font-6";
  background-color: rgba(32,32,32,1);
  color: white;
}

.banniere {
  background-color: rgb(75, 218, 43);
  font-weight: 800;
  padding: 5px;
  text-align: center;
}



ul {
  display: flex;
  background-color:(32,32,32,1);
}

li {
  padding: 10px 10px;
  font-weight: 800;
  list-style-type: none;
  background-color:(32,32,32,1);
}


.imageHaut {
  display: flex;
  justify-content: center;
  margin: 20px;
}


h2 {
  font-size: 2.5rem;
  width: 100%;
  font-family: "font-5";
  color: rgb(112, 208, 56, 1);
  display: flex;
  justify-content: space-around;
}


.article1 {
  width: 30%;
  /* align-items: center;
  justify-content: center; */
  margin: 0 auto;
}

.article2 {
  width: 30%;
  /* align-items: center;
  justify-content: center; */
  margin: 0 auto;
}

.article3 {
  width: 30%;
  /* align-items: center;
  justify-content: center; */
  margin: 0 auto;
}

.topArticle {
  display: flex;
  height: 400px;
}




summary {
  font-size: 0.8rem;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  list-style-type: none;
  margin: 3px 0px;
  padding bottom: 5px;
  background-color:rgba(16,16,16,1)
}


/* summary:target {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  color: aqua;
} */

a {
  color: rgb(112, 208, 56, 1);
}

.container {
  display: flex;
  width: 50%;
}

.commande {
  width: 40%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.commande a {
  background-color: white;
  text-decoration: none;
  color: black;
}

.commande a:hover {
  background-color: greenyellow;
}

.quantite {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.acheterMaintenant {
  width: auto;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid greenyellow;
  padding: 2px 15px;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-decoration: none;
}

.acheterMaintenant:hover {
  background-color: greenyellow;
  border: 2px solid white;
}

.bottomArticle {
  padding: 3px 0;
}

h3 {
  font-family: "font-5";
  font-size: 2rem;
}

p {
  font-size: 0.8rem;
}

.detail {
  background-color:  rgba(32,32,32,1);
  border: 1px solid rgb(175, 130, 130);
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}


.tailles {
  width: 45px;
  height: 45px;
  margin: 2px;
  background-color: white;
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 700;
} 

svg {
  width: 15px;
  margin-left: 10px;
  margin-right: 5px;
  background-color:  rgba(16,16,16,1);
}

.arrow {
  background-color:  rgba(32,32,32,1);
}

.carousel {
  width: 100%;
  height: 70%;
  padding: auto 0;
  /* min-width: 300px; */
  /* max-height: 300px; */
  border-radius: 25px;
  margin: auto;
  display: flex;
  overflow: hidden;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  animation: slideCarousel 10s ease-in-out infinite;
  -webkit-animation: slideCarousel 10s ease-in-out infinite;
}

.slide img {
  width: 100%;
  height: 100%;
}

@keyframes slideCarousel {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }
}